body{
    background-color: whitesmoke;
}

header{
    
    color:black;
    background-color:rgb(27, 157, 159);
    font-family: monospace;
    font-size: 59pt;
    font-style: bold;
    text-align: center;
}
nav{
    text-align: center;
    border:2px solid black;
    
}
 ul {
    display: table; 
    margin: auto;
    text-align: center;
}
h2{
    color: black;
    text-decoration: underline;
    text-align: center;
}
h3{
    color: black;
    text-align: center;
}
p{
    color: black;
    font-size:112pt;
    text-align: center;
}
div.center{
    text-align: center;
}

div.list{
border:5px black;
display:inline}
footer{
  text-align: center;
}
