body{
    background-color: whitesmoke;
    background-image: url('https://live.staticflickr.com/65535/51980773298_984da77e00_k.jpg');
}
table{
    background-color: rgb(247, 184, 184)
}
header{
    
    color:whitesmoke;
    background-color:rgb(27, 157, 159);
    font-family: monospace;
    font-size: 59pt;
    font-style: bold;
    text-align: center;
}
a{
    color:rgb(227, 238, 97);
}
nav{
    
}
 ul{
    display: table; 
    margin: auto;
    font-display: inline;
    display: inline;
    text-align: center;
    font-size: 1.5em;
}
 ol{
    font-family: Verdana, sans-serif;
    font-style: oblique;
    

}
article{
    display: table;
    margin: auto;
    text-align: left;
}
h2{
    color: yellowgreen;
    text-decoration: none;
    text-align: center;
    font-family: none;
    letter-spacing: 1pt;
}
h3{
    color: silver;
    text-decoration: none;
    text-align: center;
    font-family: helvetica;
    letter-spacing: 1pt;
}
p{
    color: silver;
    font-size:16pt;
    font-style: bold;
    text-align: center;
}
div.center{
    text-align: center;
}
div.right{
    text-align: right;
}
div.list{
border:5px white;
display:inline;
}
div.myDivElement{
    display:inline;
  }

footer{
  text-align: center;
}
