body {
    background-color: whitesmoke;
    background-image: url('https://live.staticflickr.com/65535/51980773298_984da77e00_k.jpg');
}

header {

    color: rgb(204, 240, 235);
    background-color: rgb(27, 157, 159);
    font-family: monospace;
    font-size: 45pt;
    font-style: bold;
    text-align: center;
}

.centerHead {
    margin: inherit;
    width: 95%;
    border: 3px solid rgb(138, 209, 244);
    border-radius: .25em;
    padding: .2em;
}

ul {
    display: inline;
    padding: flex;
    margin: flex;
    width: flex;
    text-align: center;
}

li:hover,
li:active {
    font-size: 150%;
}

a {
    color: rgb(227, 238, 97);
}

a.xl:hover,
a.xL:active {
    font-size: 150%;
}

a:hover {
    background-blend-mode: 1;
}

a:link {
    color: yellow;

}

a:active {
    color: blue;
}

#div1 {
    color: rgb(13, 159, 144);

}

#div2 {
    background-color: rgb(238, 151, 29);

}

#div3 {
    background-color: rgb(13, 159, 144);

}

#div1,
#div2,
#div3,
#div4 {
    border: dotted;
    padding: 12px 0px 12px 12px;

}

span {
    color: purple;
    background-color: greenyellow
}

ol {
    font-family: Verdana, sans-serif;
    font-style: oblique;
    font-size: 14pt;
}

h1 {
    color: yellowgreen;
    text-decoration: none;
    font-family: helvetica;
    letter-spacing: 1pt;
    text-align: center;
}

h2 {
    color: yellowgreen;
    text-decoration: none;
    font-family: helvetica;
    letter-spacing: 1pt;
    text-align: center;
}

h3 {
    color: silver;
    text-decoration: none;
    font-family: helvetica;
    letter-spacing: 1pt;
    text-align: center;
}

p {
    font-size: 16pt;
}

p.form {
    font-size: 16pt;
    padding: auto;
}

p:hover {
    background-size: 100px;
    color: rgb(252, 199, 208);
}


.pSilver {
    color: silver;
    font-style: bold;
}

#pYeWhite {
    color: rgb(244, 220, 162)
}

#pGrWhite {
    color: rgb(193, 233, 159)
}

#pBlWhite {
    color: rgb(159, 233, 233)
}

table {
    background-color: rgb(27, 157, 159);
    color: rgb(247, 184, 184);
    font-size: 14pt;
}

form {
    outline: none;
    padding: 5px;
    margin: center;
    background-color: none;
    text-align: center;
    font-style: bold;
    font-family: helvetica;
    color: rgb(129, 237, 139);


}

input[type=button] {
    color: black;
    background-color: none;
    padding: 5px;
    margin: center;

}

footer {
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(138, 209, 244);
    padding: 10px;
}

.right {
    position: absolute;
    right: 15px;
    bottom: 150px;
    width: 500px;
    border: 3px solid #73AD21;
    padding: 10px;

}


img {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    background-color: silver;
    margin-right: 1em;
    object-fit: none;
}
.videoWrapper {
	position: relative;
	padding-bottom: 100%; /* 16:9 */
	padding-top:none;
    padding-left: 50%;
    padding-right:10% ;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 1;
    right: 0;
    bottom:1;
	width: 25%;
	height: 25%;
}